.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.option-container{
    display: flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
}
.siguiente{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
img{
    width:100px;
    height:100px;
    margin-bottom: 20px;
}
.text-container{
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    padding-left: 30%;
    padding-right: 30%;
}