<router-outlet></router-outlet>
<div>
  <a routerLink="/login">login</a>
  <a routerLink="/score">score</a>
  <a routerLink="/game">game</a>
</div>

<button (click)="routeToUrl('login')">Login</button>
<button (click)="routeToUrl('game')">Game</button>
<button (click)="routeToUrl('score')">Score</button>
<!--<app-answer-button [answer]="respueta" (buttonSelected)="respuestaSeleccionada($event)"></app-answer-button>

<div class="miclase">
  <input type="text" [(ngModel)]="mivariable">
  
</div>

<div *ngIf="mivariable=='hola'">
  {{mivariable}}
</div>
<button (click)="addName()">Agregar</button>
<ul>
  <li *ngFor="let name of names;index as i">
    {{name}} {{i}}
    <button (click)="removeName(i)">Eliminar</button>
  </li>
</ul>
<div>
  <div *ngFor="let letra of letras">
    <p *ngIf="letra=='a'||letra=='e'||letra=='i'||letra=='o'||letra=='u'">la letra {{letra}} es vocal</p> 
    <p *ngIf="letra!='a'&& letra!='e'&& letra!='i' && letra!='o'&& letra!='u'">la letra {{letra}} es consonante</p>

  </div>
</div>
-->
